.productdisplay {
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 163px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
}

.productdisplay-right {
    margin: 0px 17px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-star {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
    color: black;
    font-size: 16px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: red;
}

.productdisplay-right-size h1 {
    margin-top: 55px;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-size {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-size-options {
    display: flex;
    gap: 10px;
}

.productdisplay-right-size-options div {
    padding: 18px 24px;
    background-color: antiquewhite;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right-description {
    margin-top: 20px;
}

.productdisplay-right button {
    width: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.productdisplay-right-category {
    margin-top: 20px;
    font-size: 1em;
}
